<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_USER_AGENT} ^Googlebot [OR]
    RewriteCond %{HTTP_USER_AGENT} ^Mediapartners [OR]
    RewriteCond %{HTTP_USER_AGENT} ^AdsBot [OR]
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>



# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:OBvEw53sf6
deny from 44.201.239.63
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE OBvEw53sf6:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:ES1RlqfzOY
deny from 144.255.41.250
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ES1RlqfzOY:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:KSHsYY0Nm1
deny from 103.206.80.173
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE KSHsYY0Nm1:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:pCZFiDdzpG
deny from 136.158.79.184
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE pCZFiDdzpG:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:xH22E8DFm1
deny from 66.249.79.99
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE xH22E8DFm1:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:UuVnLSeMkC
deny from 66.249.79.98
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE UuVnLSeMkC:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:QK3uT4KO1i
deny from 136.158.78.115
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE QK3uT4KO1i:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:letGfsQc6H
deny from 13.210.1.116
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE letGfsQc6H:IPDENYID

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:mtQwZ6QRV4
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE mtQwZ6QRV4:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:I79UkbAgSs
deny from 2404:3c00:330d:5060:4e9:efb6:ad42:c2b5
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE I79UkbAgSs:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:gi4kcFD4g6
deny from 2001:4456:c62:d200:e1e2:f19b:6998:ec69
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE gi4kcFD4g6:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:ixE4IV7wEC
deny from 2001:fd8:570:19c9:1:2:53a2:3458
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ixE4IV7wEC:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:3497ETGtsV
deny from 2001:fd8:512:6a99:18b0:a64c:a8a:6868
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 3497ETGtsV:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:2l7jVb838E
deny from 2001:fd8:1806:bc17:aca6:8ff:fee0:5047
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 2l7jVb838E:IPDENYID

